

.fdti-empty {
  background-color: inherit;
  border: 0px;
  margin-bottom: 0;
  margin-top: 0;
}

.fdti-dark {
  background-color: #E2E3E5;
    border: 0px;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

/*
  #section-metriques-usines-1 {
  margin-left: 8px;
}*/
  
  #section-metriques-usines-3 {
  right: 8px;
padding-top: 8px;
}


.fdti-notitle .chart-title {
  display: none !important;
} 

.fdti-flex-well{
  height: calc(100% - 8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fdti-well {
  /*background-color: red;
  border: 2px solid;*/
    position: relative;
  height: 100%;
  margin: 4px;
  margin-top: 0px;
}

.fdti-selectInput{
  padding: 20px;
}


.fdti-dateInput{
  padding: 20px;
}


.fdti_titre_box{
  padding: 10px;
  text-transform: uppercase;
}

/* creation d'un tabset panel qui marche bien avec flex */
.fdti_tabset_flex{
  width:100%;
}
.fdti_tabset_flex .tabbable {
    height: 100%;
}
.fdti_tabset_flex .tab-pane {
    height: 100%;
}
.fdti_tabset_flex .tab-content {
    height: 100%;
}
.fdti-flex-pane .chart-shim{
  display:flex;
}

/* corriger le clignotement des output */
#density_ggplot.recalculating { 
  opacity: 1.0; 
}
#pannel_1.recalculating { 
  opacity: 1.0; 
}
#pannel_2.recalculating { 
  opacity: 1.0; 
}
#pannel_3.recalculating { 
  opacity: 1.0; 
}
